@import "../variables";

.ui-jqgrid {
  border-color: $color-highlight!important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 0 !important;
  select{
    display: block;
    height: auto;
  }
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    border-color: $color-highlight!important;
  }
  .ui-jqgrid-htable .ui-jqgrid-labels th div {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .ui-jqgrid-view {
    font-size: 12px;
    font-family: Roboto, sans-serif;
  }
  .ui-corner-top {
    border-radius: 0 !important;
    border-color: $color-highlight!important;
  }
  .ui-corner-bottom {
    border-radius: 0 !important;
    border: none;
  }
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: $color-main;
    color: $color-white;
  }
  .ui-widget-content {
    background: transparent;
    border-color: $color-highlight!important;
    a {
      color: $color-highlight;
      cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .ui-state-hover {
    background: rgba($color-main, 0.15);
  }
  .ui-state-highlight {
    background: rgba($color-main, 0.4);
  }
  td, th {
    min-height: inherit;
  }
  input {
    &[type="checkbox"] {
      position: static;
      opacity: 1;
    }
    &[type=text] {
      height: auto !important;
      border-bottom: none !important;
      font-size: inherit !important;
      background: $color-white;
    }
  }
  select {
    background: $color-white !important;
  }
}