$color-white: #FFFFFF;
$color-grey: #9E9E9E;

$color-main: #000;
$system-panel-alternative-color: #1F897F;
$color-highlight: #fee600;
$border-color: #fee600;

$system-background-color: #232527;

$loader-size: 48px;